*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #95b4cb
}
.bg-image{
    background-image: url("cute-pretty-young-girl-doing-complex-maths-writing-calculations-genius-child-home-school-scientific-calculator-advanced-using-211668879.jpg");
    backdrop-filter: blur(8px);
}
#calculator{
    width: 400px;
    margin: auto;
    font-style: italic;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
#container {
    height: 450px;
    width: 350px;
    background-color: hsla(239, 93%, 48%, 0.208);
    margin: 10vh auto;
    border-radius: 40px;
    box-shadow: 7px 7px 10px rgb(55, 61, 62);
    padding: 30px;
}
#howtouse{
    height: 400px;
    width: 350px;
    background-color: hsla(0, 0%, 96%, 0.667);
    margin: 15vh auto;
    border-radius: 40px;
    box-shadow: 7px 7px 10px rgb(60, 60, 54);
    padding: 30px;
}
#howtouse h2{
    padding: 10px;
    font-size: 29px;
}
#howtouse li{
    padding: 10px;
}
#display {
    border: 4px solid grey;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    overflow-x: scroll;
    font-size: 20px;
    height: 50px;
}

#grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

#AC {
    background-color: rgb(42, 39, 131);
}

#AC:hover {
    background-color: rgb(158, 161, 213);
}

#DEL {
    background-color: rgb(235, 5, 5);
}

#DEL:hover {
    background-color: rgb(205, 163, 163);
}

.buttons {
    background-color: rgb(110, 115, 208);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 16px;
    text-align: center;
    margin: 5px;
    width: 50px;
    border-radius: 30px;
    cursor: pointer;
}

.buttons:hover {
    background-color: rgba(75, 75, 70, 0.571);
}

@media only screen and (max-width: 450px){
.buttons {
    background-color: hsla(0, 82%, 48%, 0.886);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 16px;
    text-align: center;
    margin: 3px;
    width: 35px;
    border-radius: 30px;
    cursor: pointer;
  }

  #container{
    width: 270px;
  }
  #howtouse{
      width: 270px;
      height: 450px;
  }
  #calculator{
    width: 330px;
    
}
}